<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <style>
        .input-group-prepend {
            width : 25%;
            min-width: 5rem;
            max-width: 7rem;
        }

        .input-group-prepend span {
            width: 100%;
        }
    </style>
    <title>Vendor Profit</title>
</head>
<body>
<div th:replace="fragments/topnav :: navbar">
</div>

<p th:text="${product}"></p>

<form action="#" th:action="@{/addProduct}" th:object="${product}" enctype="multipart/form-data"  method="POST"><br />
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="productID">Product ID</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="productID" th:field="*{productID}"/>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend w-25">
            <span class="input-group-text w-100" id="productName">Product Name</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="productName" th:field="*{productName}"/>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend w-25">
            <span class="input-group-text w-100" id="productDesc">Description</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="productDesc" th:field="*{productDesc}"/>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="vendorID">vendorID</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="vendorID" th:field="*{vendorID}" />
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="price">Price</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="price" th:field="*{price}" />
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="quantity">Quantity</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="quantity" th:field="*{quantity}" />
    </div>

    <button name="submit" type="submit" value="0" class="btn btn-outline-secondary">Submit</button>
</form>

</body>
</html>